@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Nunito:wght@400;700&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --textColor: #171717;
  --bgColor: #f6f2f2;
  --navHoverColor: #d3abe9;
  --navColor: #ede5f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--bgColor);
}
h1,h2{
  font-family: Nunito ;
}
p{
  font-family: Inter ;
}
nav{
  display: flex;
  align-items: center;
}
nav a{
  color: #250544;
  font-weight: bold;
  padding: 0.5rem;
}
nav a:hover{
  background-color: var(--navHoverColor);
  transition: background-color 0.2s ease-in;
  border-radius: 2rem;
}
.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.glass{
/* From https://css.glass */
  background: var(--navColor);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 30px var(--navColor);
  backdrop-filter: blur(calc(7/16)rem);
  -webkit-backdrop-filter: blur(calc(7/16)rem);
  border: 1px solid #250544;
}